.icon {
	display: inline-block;
	vertical-align: top;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow_right {
	width:em(17.971);
	height:em(33.118);
}
.icon-del {
	width:em(16.99);
	height:em(16.99);
}
.icon-phone {
	width:em(13.258);
	height:em(17.077);
}
